<h1>Welcome to Word Count!</h1>
  <form action='/answer'>
    <div class="form-group">
      <label for="sentence">Enter your sentence:</label>
      <input id="sentence" name="sentence" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="user_word">Enter Word to check:</label>
      <input id="user_word" name="user_word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Count!</button>